

/* Navigatin section*/
.top-navigation {
	background-color: #fff;
}

.top-navigation .links {
	list-style-type: none;
	float: right;
	vertical-align: baseline;
}


.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.top-navigation .logo {
	height: 4.375rem;
}

/*.main-header, .learn-button, .section, .main-footer {
	text-align: center;

}*/
 /*{
	height: 4.375rem;
	width: 60rem;
}*/